
<div class="tag-filter" data-filter="{{ filter_slug }}">
    <div class="filter-checkbox">
        <!-- <img src="{{ section.settings.filter_check | img_url: '20x' }}" alt="checked box"> -->
    </div>
    {{ filter_text }}
</div>
