<div class="sort-by-wrap">
    <p>SORT BY:</p>
    <select id="sort-by-dropdown">
        <option value="null" disabled selected>Recommended</option>
        <option value="price-ascending">Price Ascending</option>
        <option value="price-descending">Price Descending</option>
        <option value="title-ascending">Title Ascending</option>
        <option value="title-descending">Title Descending</option>
        <option value="vendor-ascending">Vendor Ascending</option>
        <option value="vendor-descending">Vendor Descending</option>
    </select>

</div>