<div class="sort-by-mobile closed">
    <div class="sort-heading">
        SORT BY: <span class="close-sort sidebar-closer">X</span>
    </div>

    <div class="sort-by-checkbox-row" value="price-ascending">
        <div class="sort-by-checkbox">
        </div>
        Price Ascending
    </div>

    <div class="sort-by-checkbox-row" value="price-descending">
        <div class="sort-by-checkbox">
        </div>
        Price Descending
    </div>

    <div class="sort-by-checkbox-row" value="title-ascending">
        <div class="sort-by-checkbox">
        </div>
        Title Ascending
    </div>

    <div class="sort-by-checkbox-row" value="title-descending">
        <div class="sort-by-checkbox">
        </div>
        Title Descending
    </div>

    <div class="sort-by-checkbox-row" value="vendor-ascending">
        <div class="sort-by-checkbox">
        </div>
        Vendor Ascending
    </div>

    <div class="sort-by-checkbox-row" value="vendor-descending">
        <div class="sort-by-checkbox">
        </div>
        Vendor Descending
    </div>
</div>
