
<section class="collections-list no-padding">
    <div class="row">
        <!-- {% for product in collection.products %}
            <div class="col-md-4">
                {% include 'product-card' %}
            </div>
        {% endfor %} -->
    </div>
</section>