
<section class="collections-list no-padding ajax">
    <div class="row">
        <div class="col dropdown-col">
            {% include 'sort-by-dropdown' %}
        </div>
    </div>
    <div class="row" id="collection-injection">
        

    </div>
</section>